body {
  padding: 0px;
  margin: 0px;
}

#board {
  border: 1px solid black;
  margin: auto;
  display: grid;
  grid-gap: 0px;
  border: 10px solid black;
}

#level-btns-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10vw;
  padding: 3vw 10vw 10vw 10vw;
}

#level-btns {
  padding: 50%;
  width: 100%;
}

.message {
  text-align: center;
  font-weight: 900;
  padding: 1vh;
}

.logo-btn {
  height: 7vh;
  width: 7vh;
  margin: 0.5vw;
  background-color: white;
  border: none;
}

.logo-btn:hover {
  cursor: pointer;
}

@media (max-width: 550px) or (max-height: 550px) {
  .logo-btn {
    height: 15vw;
    width: 15vw;
    margin: 0.5vw;
  }
}

@media (orientation: portrait) and ((max-width: 550px) or (max-height: 550px)) {
  .logo-btn {
    height: 15vw;
    width: 15vw;
    margin: 0.5vw;
  }
}

@media (orientation: portrait) and ((min-width: 551px) and (min-height: 551px)) {
  .logo-btn {
    height: 7vw;
    width: 7vw;
    margin: 0.5vw;
  }
}

@media (max-width: 190px) {
  .message {
    font-size: 0.5em;
    padding: 0.5vh;
  }
}

@media (min-width:191px) and (max-width: 300px) {
  .message {
    font-size: 1em;
    padding: 0.5vh;
  }
}

@media (min-width:301px) and (max-width: 450px) {
  .message {
    font-size: 1.5em;
    padding: 0.5vh;
  }
}

@media (min-width:451px) and (max-width: 600px) {
  .message {
    font-size: 2em;
    padding: 1vh;
  }
}

@media (min-width:601px){
  .message {
    font-size: 3em;
    padding: 2vh;
  }
}

#welcome-navbar {
  background-color: rgb(30, 167, 225);
  height: 10vh;
  display: flex;
}

#welcome-navbar > :first-child {
  margin-left: auto;
}

.welcome-navbar-btn {
  background-color: rgb(30, 167, 225);
  border: none;
  padding: 2vh;
  height: 100%;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  cursor: pointer;
  width: 200px;
}

.welcome-navbar-btn:hover {
  background-color: white;
  color: black;
}

#main-welcome-screen {
  height: 90vh;
  background-image: url('./images/GroundGravel_Grass.png');
  text-align: center;
}

#game-title-div {
  font-size: 7em;
  font-weight: 900;
  padding-top: 20vh;
  padding-bottom: 10vh;
  background-image: url('./images/Wall_Background.png');
  background-size: 50px;
  filter: brightness(70%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: context-menu;
}

#play-btn {
  background-color: rgb(30, 167, 225);
  height: 9vh;
  width: 15vw;
  border-radius: 20px;
  border: 2px solid rgb(25, 141, 190);
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

#play-btn:hover {
  box-shadow: 0px 0px 10px rgb(211, 210, 210);
  cursor: pointer;
}

#welcome-user {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-size: 1em;
  font-weight: bold;
  color: white;
  font-family: cursive;
}