*{
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background-image: url('./images/GroundGravel_Grass.png');
}

#board {
  margin: auto;
  display: grid;
  grid-gap: 0px;
}

#level-btns-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10vw;
  padding: 3vw 10vw 10vw 10vw;
}

#level-btns {
  aspect-ratio: 1 / 1;
  width: 100%;
  background-image: url('./images/CrateDark_Brown.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  cursor: pointer;
  font-size: 3em;
  color: black;
  font-weight: bold;
}

.message {
  text-align: center;
  font-weight: 900;
  padding: 1vh;
}

.logo-btn {
  height: 100%;
  width: 100%;
  margin: 0.5vw;
  background-color: rgb(0, 0, 0, 0);
  border: none;
}

.logo-btn:hover {
  cursor: pointer;
}

.logo-btn:active {
  padding: 1rem;
}

#undo-redo-wraper {
  display: flex;
  justify-content: center;
  gap: 12vw;
}

@media (max-width: 190px) {
  .message {
    font-size: 0.5em;
    padding: 0.5vh;
  }
}

@media (min-width:191px) and (max-width: 300px) {
  .message {
    font-size: 1em;
    padding: 0.5vh;
  }
}

@media (min-width:301px) and (max-width: 450px) {
  .message {
    font-size: 1.5em;
    padding: 0.5vh;
  }
}

@media (min-width:451px) and (max-width: 600px) {
  .message {
    font-size: 2em;
    padding: 1vh;
  }
}

@media (min-width:601px){
  .message {
    font-size: 3em;
    padding: 2vh;
  }
}

#welcome-navbar {
  background-color: rgb(30, 167, 225);
  height: 10vh;
  display: flex;
}

#welcome-navbar > :first-child {
  margin-left: auto;
}

.welcome-navbar-btn {
  background-color: rgb(30, 167, 225);
  border: none;
  padding: 2vh;
  height: 100%;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  cursor: pointer;
  width: 200px;
}

.welcome-navbar-btn:hover {
  background-color: white;
  color: black;
}

#main-welcome-screen {
  text-align: center;
}

#game-title-div {
  font-size: 7em;
  font-weight: 900;
  padding-top: 20vh;
  padding-bottom: 10vh;
  background-image: url('./images/Wall_Background.png');
  background-size: 50px;
  filter: brightness(70%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: context-menu;
}

#play-btn {
  background-color: rgb(30, 167, 225);
  height: 9vh;
  width: 15vw;
  border-radius: 20px;
  border: 2px solid rgb(25, 141, 190);
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

#play-btn:hover {
  box-shadow: 0px 0px 10px rgb(211, 210, 210);
  cursor: pointer;
}

#welcome-user {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-size: 1em;
  font-weight: bold;
  color: white;
  font-family: cursive;
}

.auth-box {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(30, 167, 225);
  border: 7px solid rgb(25, 141, 190);
}

.login-box-items {
  margin: 5vh;
  font-size: 2em;
  font-weight: bold;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.login-box-input {
  height: 7vh;
  width: 25vw;
  margin-left: 2vw;
  border: none;
  border-radius: 15px;
  font-size: inherit;
}

.submit-btn {
  height: 7vh;
  border-radius: 15px;
  width: 10vw;
}

.top-btns-wrapper {
  display: flex;
  height: 10vh;
}

@media (max-width: 400px) {
  .top-btns-wrapper {
    display: flex;
    height: 5vh;
  }
}